.containertpsr{
    position:fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-rows: 20% 1fr 20%;
    grid-auto-columns: 100px;
    background-color: #F7F7F7;
    text-align: center;
}
.t1{
    position: absolute;
    grid-row: 1;
    height: 20%;
    width: 100%;
    font-family: 'Montserrat', bold;
    font-size: 200%;
    align-content: center;
}
.t1 div{
    padding: 10% 0 0 0;
}
.Botones{
    position: absolute;
    height: 60%;
    width: 100%;
    grid-row: 2;
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    padding-top: 10%;
}
.bclient{
    position: fixed;
    grid-column: 1;
    margin: 0 0px 0 15%;
    width: 30%;
    height: 20%;
    font-size: 400%;
    border-radius: 20px;
}
.bmod{
    position: fixed;
    grid-column: 2;
    margin: 0 0px 0 55%;
    width: 30%;
    height: 20%;
    font-size: 400%;
    border-radius: 20px;
}
.Footer{
    position: absolute;
    width: 100%;
    height:100%;
    grid-row: 3;
}
.btntpsr{
    background: linear-gradient(0deg, rgba(28,110,229,1) 20%, rgba(11,57,125,1) 100%);
    color: white;
    border:none;
    font-family: 'Montserrat', bold;
    text-align: center;
}
.btntpsr:hover {
    box-shadow: inset 0 0 20px rgba(49, 138, 172, 0.5), 0 0 20px rgba(49, 138, 172, 0.4);
    outline-color: rgba(49, 138, 172, 0);
    outline-offset: 80px;
    text-shadow: 1px 1px 6px #fff;
}
.btntpsr:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}