.usersdvd{
    width:90%;
    height: 50%;
    top: 32%;
    left: 5%;
    border-bottom: #1750A6;
    border-bottom-style: solid;
    border-top: #1750A6;
    border-top-style: solid;
}
.accessdvd{
    position: absolute;
    width:60%;
    height: 70%;
    top: 25%;
    left:20%;
}
.subtitledvd{
    position: absolute;
    top:13%;
    left:50%;
    height:10%;
}
.searchdvd{
    position: absolute;
    width:100%;
    height: 20%;
    top: 11%;
}
.titulo2{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: white;
    border-bottom: #1750A6;
    border-bottom-style: solid;
    font-family: 'Montserrat', sans-serif;
    color: #4B6B9C;
}
.titulo2 div{
    position: absolute;
    left:1%;
    bottom:2%;
}
.btnsearch2 {
    position: absolute;
    top: 15%;
    height: 50%;
    left: 51%;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.btnsearchaccess{
    position: absolute;
    top: 83%;
    height: 10%;
    right: 5%;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.addbtn2{
    position: absolute;
    top: 15%;
    right: 5%;
}
.iconogrande {
    transform: scale(1.5);
    color: #1750A6;
}
.filaccess{
    display: grid;
    height: 25%;
    width: 100%;
    grid-template-columns: 40% 20% 20% 20%;
  }