.cab{
    position: absolute;
    left: 5%;
    width: 70%;
    height: 100%;
    text-align: left;
    border-bottom-style: solid;
    border-bottom-color: #1750A6;
    font-family: 'Montserrat', sans-serif;
    color: #4B6B9C;
}