.rowinvent{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:grid;
    grid-template-columns: 20% 35% 20% 25%;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    border-bottom: rgb(194, 194, 194);
    border-bottom-style: solid;
    font-family: 'Montserrat', sans-serif;
    padding: 0% 0 0 0;
}
.rowdvd div{
    position: relative;
    align-self: center;
}
.grayer{
    border-bottom: rgb(109, 109, 109);
    border-bottom-style: solid;
}
.rowsug{
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display:grid;
    grid-template-columns: 50% 30% 20%;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 0% 0 0 0;
}