.cont{
    position:absolute;
    top: 5%;
    bottom: 0;
    left: 80px;
    right: 0;
    height: 95%;
    background-color: #F7F7F7;
}
.divinvent{
    position: absolute;
    top: 8%;
    left: 0%;
    width: 55%;
    height: 92%;
    border-bottom-style: solid;
    border-bottom-color: rgb(167, 166, 166);
}
.divsugs{
    position: absolute;
    top: 20%;
    right: 10%;
    width: 30%;
    height: 40%;
    border-bottom-style: solid;
    border-bottom-color: rgb(167, 166, 166);
}
.divheader{
    position: absolute;
    width: 100%;
    top: 5%;
    height: 3%;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb{
    background-color: #1750A6;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #113368;
}