.sugs{
    width:90%;
    height: 60%;
    top: 22%;
    left: 5%;
    border-bottom: #1750A6;
    border-bottom-style: solid;
    border-top: #1750A6;
    border-top-style: solid;
}
.titulo{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 10%;
    width: 100%;
    background-color: white;
    border-bottom: #1750A6;
    border-bottom-style: solid;
    font-family: 'Montserrat', sans-serif;
    color: #4B6B9C;
}
.titulo div{
    position: absolute;
    left:1%;
    bottom:2%;
}