.scrollable{
    position: absolute;
    top: 15%;
    bottom: 0;
    overflow-y: scroll;
}
.scrollinvent{
    width: 75%;
    height: 60%;
    left: 15%;
}
.bb{
    position: absolute;
    top: 82%;
    left: 80%;
    width: 15%;
    height: 6%;
    border-radius: 5px;
    font-size: 100%;
}
.creartbtn{
    position: absolute;
    top: 82%;
    left: 20%;
    width: 15%;
    height: 6%;
    border-radius: 5px;
    font-size: 100%;
}
.busqueda{
    position: absolute;
    top: 5%;
    height: 5%;
    width:75%;
    left: 15%;
    border-radius: 5px;
    border: rgb(150, 150, 150);
    border-width: 1px;
    border-style: solid;
    font-family: 'Montserrat', sans-serif;
}