.container-bar {
	height: 1em;
	background-color: #ccc;
	position: relative;
	border-radius: 7px;
	width: 4em;
	transform: translateX(20px);
}

.container-bar .low-disponibility {
	position: absolute;
	height: 100%;
	background-color: red;
	width: 30%;
	border-radius: 7px;
}

.container-bar .high-disponibility {
	position: absolute;
	height: 100%;
	background-color: green;
	width: 80%;
	border-radius: 7px;
}

.container-bar .medium-disponibility {
	position: absolute;
	height: 100%;
	background-color: orange;
	width: 50%;
	border-radius: 7px;
}
